@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.mainFont{
    font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

.secondFont{
    font-family: "Raleway", serif;
  font-optical-sizing: auto;
}

header{
  
  padding: 0px 60px;
}

nav{
    width: auto;
    height: 102px;
    margin-top: -20px;
}

.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo > img{
    width: 43.21px;
    height: 37.58px;
}

#logo > p{
color: rgb(17, 17, 17);
font-size: 32px;
font-weight: 700;
}

.menu{
  display: flex;
  gap: 20px;
  font-size: 20px;
font-weight: 700;
}

#page1{
  color: rgb(254, 163, 1);
}

#page2{
  color: rgb(1, 172, 253);
}

#page3{
  color: rgb(5, 212, 223);
}

#page4{
  color: rgb(93, 88, 239);
}

#btn1 > button{
  width: 197px;
height: 50px;
border: 0;
border-radius: 12px;
background: rgb(254, 163, 1);
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
}

.btn:hover{
  cursor: pointer;
}

#brgrMenu{
  display: none;
}

hr{
  display: none;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#heroTxt{
  width: 580px;
}

#heroTxt > h1{
  font-size: 56px;
font-weight: 700;
}

#ht1{
  color: rgb(254, 163, 1);
}

#ht2{
  color: rgb(1, 172, 253);
}

#heroTxt > p{
font-size: 20px;
font-weight: 400;
line-height: 25px;
}

#heroImg{
  width: 468px;
  height: 574px;
}

#heroTxt > button{
  width: 197px;
height: 50px;
background: black;
color: white;
border-radius: 12px;
font-size: 20px;
font-weight: 700;
line-height: 30px;
}





/* Small device */
@media screen and (max-width: 576px){

  #brgrMenu{
    display: inline
  }

  nav{
    width: auto;
    height: auto;
    margin-top: 0;
}

header{
  padding: 0px 10px;
}

#logo > p, .menu, #btn1{
  display: none;
}

#logo > img{
  width: 36px;
height: 36px;
}

hr{
  display: block;
  border: 0;
  height: 1px;
  background-color: rgb(254, 163, 1);
}

  
}

