@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.mainFont{
    font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

.secondFont{
    font-family: "Raleway", serif;
  font-optical-sizing: auto;
}

nav{
    width: auto;
    height: 102px;
    padding: 0px 60px;
    margin-top: -20px;
}

.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo > img{
    width: 43.21px;
    height: 37.58px;
}

#logo > p{
color: rgb(17, 17, 17);
font-size: 32px;
font-weight: 700;
}

.menu{
  display: flex;
  gap: 20px;
  font-size: 20px;
font-weight: 700;
}

#page1{
  color: rgb(254, 163, 1);
}

#page2{
  color: rgb(1, 172, 253);
}

#page3{
  color: rgb(5, 212, 223);
}

#page4{
  color: rgb(93, 88, 239);
}

#btn1 > button{
  width: 197px;
height: 50px;
border: 0;
border-radius: 12px;
background: rgb(254, 163, 1);
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
}

.btn:hover{
  cursor: pointer;
}